@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al instituto de Moisés</h1>
    <p>Esto es la página principal del instituto</p>
    <p>En la barra de navegación se puede consultar los datos</p>
</div>
