@{
    @using WebInstituto.ViewModels.Asignaturas
    @model AsignaturasViewModel
}
<script type="module" src="~/js/viewAsignaturas.js" asp-append-version="true"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/vistaAsignaturas.css">


<div class="container mt-4">
    <h1 class="text-center mb-4">Asignaturas</h1>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered w-auto text-center" id="tablaAsignaturaProfesores">
            <thead class="table-light">
                <tr>
                    <th style="width: 150px;">Nombre</th>
                    <th style="width: 100px;">Curso</th>
                    <th style="width: 200px;">Información</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Asignaturas == null || !Model.Asignaturas.Any())
                {
                    <tr>
                        <td colspan="3">No hay Asignaturas disponibles</td>
                    </tr>
                }
                else
                {
                    @foreach (Asignatura asignatura in Model.Asignaturas)
                    {
                        <tr>                      
                            <td>@asignatura.Name</td>
                            <td>@asignatura.Course</td>
                            <td>
                                <button class="btn btn-info" onclick="window.location.href='@Url.Action("VistaAsignatura", "Asignaturas", new { id = asignatura.Id })'">
                                    Ver Información
                                </button>
                            </td>
                            @if (Model.EsProfesor)
                            {
                                <td class="no-border text-center align-middle">
                                    <img src="/img/editar.png" id="editar-@asignatura.Id" style="width:25px; height:25px; cursor:pointer;" class="me-1" />
                                    <img src="/img/eliminar.png" id="eliminar-@asignatura.Id" style="width:25px; height:25px; cursor:pointer;" />
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @if (Model.EsProfesor)
    {
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" onclick="window.location.href='@Url.Action("FormAsignatura", "Asignaturas", new {idAsignatura=0})'">
                Crear Asignatura
            </button>
        </div>
    }
