body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tablaAsignaturaProfesores td.no-border {
    border: none !important;
    background-color: transparent !important;
}

